{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">All Feedbacks</h2>
      <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6">


        {% for review in data %}

         <!-- review - start -->
         <div class="flex flex-col gap-3 rounded-lg border p-4 md:p-6">
          <div>
            <span class="block text-sm font-bold md:text-base">{{review.name}}</span>
            <span class="block text-sm text-gray-500">{{review.date}}</span>
          </div>
  
          <!-- stars - start -->
          <div class="-ml-1 flex gap-0.5">
              <p>Stars {{review.stars}}/5</p>
          </div>
          <!-- stars - end -->
  
          <p class="text-gray-600">{{review.message}}</p>
        </div>
        
        <!-- review - end -->
        {% endfor %}
   
      {% comment %} <a href="{% url "feedback" %}" class="inline-block rounded-lg border bg-yellow px-4 py-2 text-center text-sm font-semibold text-yellow-600 outline-none ring-yellow-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-yellow-200 md:px-8 md:py-3 md:text-base">See More</a> {% endcomment %}

       
        
      </div>
     

    </div>
  </div>

{% endblock content %}