{% extends 'base.html' %} 
{% load static %} 
{% block content %}

{% for message in messages  %}
<div class="{{message.tags}}">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Message:</strong> {{message}}
</div>
{% endfor %}


<div class=" mt-8 mx-auto">
    <h1 class="text-4xl text-gray-800 sm:text-4xl font-bold mb-4">Change Password</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="p-2 w-full">
            <div class="relative">
                <label for="old_password" class="leading-7 py-4 text-lg text-gray-900">Old Password</label>
                <input type="password" id="password" name="old_password"  value=""
                    class=" w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out " required>
            </div>
        </div>

        <div class="p-2 w-full">
            <div class="relative">
                <label for="new_password" class="leading-7 py-4 text-lg text-gray-900">New Password</label>
                <input type="password" id="new_password" name="new_password" 
                    class=" w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out " required>
            </div>
        </div>

        <div class="p-2 w-full">
            <div class="relative">
                <label for="confirm_password" class="leading-7 py-4 text-lg text-gray-900">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" 
                    class=" w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out " required>
            </div>
        </div>
        
        <div class="p-2 w-full">
            <div>
              <button onclick="confirm('Are you sure want to change password!')" type="submit" class="inline-block rounded-lg bg-yellow-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-yellow-300 transition duration-100 hover:bg-yellow-600 focus-visible:ring active:bg-yellow-700 md:text-base">Change</button> 
            </div>
    </form>
</div>



{% endblock content %}

{% include "footer.html" %}


