{% extends 'base.html' %} 
{% load static %} 
{% block content %}

{% for message in messages  %}
<div class="{{message.tags}}">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Message:</strong> {{message}}
</div>
{% endfor %}

{% comment %} {% for message in messages  %}
<div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %} {% endcomment %}

<div class=" mt-8 mb-4 mx-auto">
  <h1 class="text-4xl text-gray-800 sm:text-4xl font-bold mb-4">Feedback</h1>
  <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg" >Post Your Valuable Feedbacks.</p>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="p-2 w-full">
          <div class="relative">
              <label for="name" class="leading-7 py-4 text-lg text-gray-900">Name</label>
              <input type="text" id="name" name="name" 
                  class=" w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out " required>
          </div>
      </div>
      <div class="p-2 w-full">
          <div class="relative">
            <label for="cars">Rate out of 5</label>
            <select class="w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out" name="stars" class="sm:col-span-2">
              
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>


      <div class="p-2 w-full">
          <div class="relative">
              <label for="message" class="leading-7 py-4 text-lg text-gray-900">Message</label>
              <textarea id="message" name="message" required
                  class=" w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-900 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
      </div>
      <div class="p-2 w-full">
          <div>
            <button type="submit" class="inline-block rounded-lg bg-yellow-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-yellow-300 transition duration-100 hover:bg-yellow-600 focus-visible:ring active:bg-yellow-700 md:text-base">Post</button> 
          </div>
  </form>
</div>


{% endblock content %}
{% include "footer.html" %}
      
      