{% extends "base.html" %}
{% load static %}

<!--Footer Section-->
<div class="bg-gray-900">
    <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div class="mb-16 grid grid-cols-2 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12">
        <div class="col-span-full lg:col-span-2">
          <!-- logo - start -->
          <div class="mb-4 lg:-mt-2">
            <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-gray-100 md:text-2xl" aria-label="logo">
              
                <img class="footer-logo" src="Image/logo.jpeg" alt="footer-logo">
              </svg>
  
              Techno Fitness
            </a>
          </div>
          <!-- logo - end -->
  
          <p class="mb-2 text-gray-400 sm:pr-8">2nd Floor, Mansha Niketan, Dimna Chowk.</p>
          <p class="mb-6 text-gray-400 sm:pr-8">7488796896</p>
  
  
          <!-- social - start -->
          <div class="flex gap-4">
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="fa-brands fa-youtube footer-icon"></i>
          
            </a>
  
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="fa-brands fa-instagram footer-icon"></i>
            </a>
  
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="fa-brands fa-facebook footer-icon"></i>
            </a>
  
            <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <i class="fa-brands fa-square-twitter footer-icon"></i>
            </a>
          </div>
          <!-- social - end -->
        </div>
  
  
        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Quick Links</div>
  
          <nav class="flex flex-col gap-3">
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Contact</a>
            </div>
  
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">About</a>
            </div>
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Schedule</a>
            </div>
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Gallery</a>
            </div>
  
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Give Reviews</a>
            </div>
  
          </nav>
        </div>
  
  
  
  
  
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">Apps</div>
  
          <nav class="flex flex-col gap-3">
            <div>
              <a href="{% url "nutrition_track" %}" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Nutrition Tracking</a>
            </div>
  
            <div>
              <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Exercise Recommending</a>
            </div>
  
          </nav>
        </div>
        
        <div class="flex gap-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.047640416649!2d86.22681527530834!3d22.837726879303823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f5e23899700513%3A0x4019fa558a30de51!2sTechno%20Fit%20Multi%20Gym!5e0!3m2!1sen!2sin!4v1714756309211!5m2!1sen!2sin"
           width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  
        <!-- nav - end -->
  
     
      </div>
  
      <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-400">© 2024 - Techno Fitness. All rights reserved.</div>
    </footer>
  </div> 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>