@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #e3e2d9;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    color: #c7d413;
}

.main-nav {
    justify-content: space-between;
    align-items: end;
    padding-block: 8px;
}



.search-bar {
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: end;
    height: 52px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}
.title{
    cursor: pointer;
    text-decoration:none;
    color:var(--accent-color);
}
main {

    padding-block: 20px;
    margin-top: 80px;
}
main h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--accent-color-dark);
                    text-decoration: underline;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards-container {
margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.see-exercises{
    font-size: 0.8rem;
    text-decoration: underline;
}
 @media (min-width:600px) {
   
.card {
    width: 380px;
    min-height: 370px;   
} 
.search-bar{
        height: 32px;
        display: flex;
        gap: 1px;
}
.search-button{
        background-color: var(--accent-color);
        color: white;
        padding: 8px 24px;
                    
}
    } 
